# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de Django
*.log
*.pot
*.pyc
local_settings.py

# Archivos de base de datos
db.sqlite3
*.sqlite3

# Archivos específicos del sistema operativo
.DS_Store  # Para macOS
Thumbs.db  # Para Windows

# Archivos relacionados con herramientas de desarrollo
*.migrations/  # Ignorar migraciones si no son finales o iniciales

# Archivos de configuración de IDEs y editores de texto
.idea/  # PyCharm
.vscode/  # Visual Studio Code
*.swp  # Archivos temporales de Vim
*.swo

# Otros archivos o configuraciones opcionales
.env  # Variables de entorno (si usas dotenv)
*.pyc
__pycache__/
s -tlnp | grep 27017
staticfiles/
deploy.py